body {
	.product-box {
		.card-body {
			.product-image-wrapper {
	    		padding-top: 90%;
	    		height: auto;
	    		img {

	    		}
			}
			.product-info {
				margin-top: 6px;
				.product-rating {
					display: none;
				}
				.product-name {
					font-size: 16px;
					line-height: 20px;
				    padding-bottom: 0;
				    min-height: 62px;
    				margin-bottom: 0;
				}
				.product-description {
					font-size: 12px;
				    line-height: 16px;
				    height: auto;
				    min-height: 50px;
				    margin-top: 4px;
				}
				.maxia-quickbuy-actions .btn-buy .btn-text,
				.product-action .btn {
					font-size: 12px;
				}
			}
		}
	}
}