@import 'layout/footer';
@import 'layout/header';
@import 'layout/homePage';
@import 'layout/aboutUs';
@import 'layout/about-us-cta';
@import 'layout/blogDetails';
@import 'layout/customChanges';
@import 'layout/navigation';

@import 'page/content/breadcrumb';


@import 'component/category-navigation';
@import 'component/product-box';
@import 'component/gallery-slider';

@import 'page/brand/brand-list';
@import 'page/brand/brand-detail';

@import 'page/product-list/product-list';

@import 'page/product-detail/product-detail';
@import 'page/product-detail/_tabs';

@import 'page/account/account';
@import 'page/account/login';


@import 'page/cms/cms';
@import 'page/cms/timeline';


@import 'page/checkout/checkout';

.product-slider {
	.cms-section-default {
		@media(min-width: 1366px) {
			max-width: 1344px !important;
		}
	}
	.cms-element-product-slider {
		@media(min-width: 1366px) {
			justify-content: center;
		}
	}
	.base-slider {
		@media(min-width: 1366px) {
			overflow: visible;
		}
		.tns-outer {
			@media(min-width: 1366px) {
				max-width: 1244px;
				overflow: hidden;
			}
		}
		.product-slider-controls-container {
			.product-slider-controls-prev  {
				@media(min-width: 1366px) {
					left: -37px !important;
				}
			}
			.product-slider-controls-next  {
				@media(min-width: 1366px) {
					right: -52px !important;
				}
			}
		} 
	}
}

img.rhweb-cta-banner-image {
    width: 100%;
}
.cms-element-rhweb-cta-banner {
    position: relative;
    .overlay {
        position: absolute;
        width: 100%;
	    height: 100%;
	    max-width: 100% !important;
	    .rhweb-cta-banner-inner {
	    	max-width: 845px;
    		margin: 0 auto;
	    }
    }
}
.cms-element-rhweb-cta-banner.video-inactive {
	padding:0 !important;
}
.image-slider-item>.cms-element-rhweb-cta-banner.video-inactive {
	@media(max-width: 767px) {
		height: auto !important;
	}
}

//
// Audit Report Page
//

.is-act-home {
	.blog-card {
		> a {
	    	padding-top: 51%;
		    position: relative;
		    overflow: hidden;
		    @media(max-width: 767px) {
		    	padding-top:0;
		    	position: static;
		    }
		    img {
		    	height: 100% !important;
			    width: 100%;
			    position: absolute !important;
			    top: 0;
			    left: 0;
			    object-fit: contain !important;
			    @media(max-width: 767px) {
			    	position: static !important;
			    }
		    }
		}
	}
}

body {
	.product-box .card-body .product-info .product-action .btn-buy {
		@media(max-width: 992px) {
			white-space: normal !important;
			display: flex !important;
		}
		.btn-text {
			@media(max-width: 992px) {
				line-height: normal;
			    text-overflow: ellipsis;
			    overflow: hidden;
			    white-space: nowrap;
			}
		}
	}
}
body .scg-main .scg-wrapper .progressbar li:after {
	@media(max-width: 767px) {
		left: 13px !important;
	}
	.header-cart .header-cart-badge {
		display: block;
	}
}
div#swag-paypal-acdc-form {
	@media(max-width: 767px) {
		margin-left: -1.5rem;
	}
	> .row {
		@media(max-width: 767px) {
			margin: 0;
		} 
		> div {
			@media(max-width: 767px) {
				padding: 0;
			}
		}
	}
}
.checkout-product-slider {
	.cms-element-cart-product-slider {
		.cms-element-title {
			p {
				font-size: 24px !important;
    			font-family: 'Lato-SemiBold';
			}
		}
	}
}
.line-item.line-item-product.is-default:has(.line-item-total-price.line-item-price .scg-free-badge) .line-item-remove {
    display: none;
}
.line-item.line-item-product.is-default:has(.line-item-total-price.line-item-price .scg-free-badge) .line-item-quantity {
    flex-grow: 1;
}
.login-submit button {
    position: relative;
    height: 43px;
    .loader {
	    position: absolute;
	    left: 39%;
	    top: 31%;
	}
}
.checkout-product-slider .cms-element-cart-product-slider .product-box .card-body .product-action .btn{
	height: 40px;
	line-height: 38px;
	font-size: 14px;
	    width: 100%;
    min-width: 100%;
        justify-content: center;
	&:after {
		content: '';
		background-image: url('data:image/svg+xml,<svg id="meteor-icon-kit__regular-shopping-cart" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.83398 19.986C7.42604 21.1583 6.31124 21.9996 4.99992 21.9996C3.34309 21.9996 1.99997 20.6565 1.99997 18.9997C1.99997 17.6027 2.95482 16.4288 4.24746 16.0949L4.69032 14.7663C3.68243 14.3426 2.94957 13.3832 2.86086 12.2299L2.15631 3.07074C2.10983 2.46652 1.60599 1.99995 0.999985 1.99995C0.447708 1.99995 0 1.55225 0 0.99997C0 0.44769 0.447708 -0.000015 0.999985 -0.000015C2.65105 -0.000015 4.02375 1.27115 4.15038 2.91735L22.9996 2.94455C23.6303 2.94455 24.1034 3.52112 23.9804 4.13961L22.3006 12.585C22.0214 13.9887 20.7895 14.9998 19.3583 14.9998H6.72066L6.29035 16.2907C7.00898 16.6336 7.56976 17.2541 7.83398 18.0134C7.88794 18.0044 7.94336 17.9997 7.99988 17.9997H16.1705C16.5823 16.8345 17.6935 15.9997 18.9997 15.9997C20.6565 15.9997 21.9997 17.3429 21.9997 18.9997C21.9997 20.6565 20.6565 21.9996 18.9997 21.9996C17.6935 21.9996 16.5823 21.1649 16.1705 19.9997H7.99988C7.94336 19.9997 7.88794 19.995 7.83398 19.986zM4.98347 17.9998C4.43878 18.0086 3.99994 18.4529 3.99994 18.9997C3.99994 19.552 4.44765 19.9997 4.99992 19.9997C5.5522 19.9997 5.99991 19.552 5.99991 18.9997C5.99991 18.453 5.56114 18.0087 5.01652 17.9998C5.00552 18 4.99451 18 4.98347 17.9998zM6.02297 12.9998H19.3583C19.8354 12.9998 20.246 12.6628 20.3391 12.1949L21.7812 4.94452H4.30632L4.85493 12.0765C4.89501 12.5975 5.32944 12.9998 5.85197 12.9998H5.97657C5.99199 12.9994 6.00746 12.9994 6.02297 12.9998zM18.9997 19.9997C19.552 19.9997 19.9997 19.552 19.9997 18.9997C19.9997 18.4474 19.552 17.9997 18.9997 17.9997C18.4474 17.9997 17.9997 18.4474 17.9997 18.9997C17.9997 19.552 18.4474 19.9997 18.9997 19.9997z" fill="%23fff"/></svg>');
		background-size: 21px;
	    width: 24px;
	    height: 24px;
	    display: inline-block;
	    background-repeat: no-repeat;
	    background-position: right;
	    position: relative;
	    top: 5px;
	}
}

body {
	.checkout-product-slider .cms-element-cart-product-slider .product-slider-controls-container {
		position: absolute !important;
    	right: 0;
    	top: 16px;
	}
	.checkout-product-slider .cms-element-cart-product-slider .product-slider-controls-prev,
	.checkout-product-slider .cms-element-cart-product-slider .product-slider-controls-next {
		position: static !important;
	}
	button#addPromotion {
	    border: 1px solid #7C7C7C !important;
	    min-width: revert;
	    width: auto;
	    position: static;
	    margin-left: 0;
	}
	span.hk-summary-discount-name {
	    color: #b1375a;
	}
}
